<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<nav th:fragment="menu" class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #003541;"
     xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center text-light fw-bold" href="/">
            <img th:src="@{/images/logo_pequeno.png}" alt="Logo" width="40" height="40" class="me-2">
            Estoque Solidário
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link text-light" href="/usuarios">Usuários</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/doacao-entrada">Entradas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/doacao-saida">Saídas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/produtos">Produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/estoque">Estoque</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/logout">Sair</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
