<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Estoque Solidário</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/navbar-fixed/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <style>
        body {
            padding-top: 4.5rem;
        }
    </style>
</head>
<body>
<div th:replace="~{fragments/menu :: menu}"></div>
<div class="container">
    <h2>Saídas</h2>
    <hr>
    <a href="/nota-saida/novo" class="btn btn-primary mb-3">Novo</a>
    <br><br>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>FAVORECIDO</th>
            <th>DATA HORA</th>
            <th>QUANTIDADE DE ITENS</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="nota : ${notas}">
            <td th:text="${nota.usuario.nome}"></td>
            <td th:text="${#temporals.format(nota.dataHora, 'dd/MM/yyyy HH:mm')}"></td>
            <td th:text="${#numbers.formatDecimal(nota.totalItens, 0, 'POINT', 0, 'COMMA')}"></td>
            <td>
                <a th:href="@{/nota-saida/edita/{id}(id=${nota.id})}" class="btn btn-sm btn-secondary">Editar</a>
            </td>
            <td>
                <a th:href="@{/nota-saida/remove/{id}(id=${nota.id})}" class="btn btn-sm btn-secondary">Remover</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
