<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Estoque Solidário</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/navbar-fixed/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <style>
        body {
            padding-top: 4.5rem;
        }
    </style>
</head>
<body>
<div th:replace="~{fragments/menu :: menu}"></div>
<div class="container">
    <div class="bg-light p-5 rounded">
        <h2>Saídas</h2>
        <hr>
        <a href="/doacao-saida/novo" class="btn btn-primary mb-3">Novo</a>
        <br><br>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>FAVORECIDO</th>
                <th>DATA HORA</th>
                <th>QUANTIDADE DE ITENS</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="doacao : ${doacoes}">
                <td th:text="${doacao.usuario.nome}"></td>
                <td th:text="${#temporals.format(doacao.dataHora, 'dd/MM/yyyy HH:mm')}"></td>
                <td th:text="${#numbers.formatDecimal(doacao.totalItens, 0, 'POINT', 0, 'COMMA')}"></td>
                <td>
                    <a th:href="@{/doacao-saida/edita/{id}(id=${doacao.id})}" class="btn btn-sm btn-secondary">Adicionar Produtos</a>
                </td>
                <td>
                    <a th:href="@{/doacao-saida/remove/{id}(id=${doacao.id})}" class="btn btn-sm btn-secondary">Remover</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
